
@{
    ViewData["Title"] = "articale";
}

@if(ViewBag.err)
{
    <h1 class="alert alert-danger">@ViewBag.msg</h1>
}
else
{
<h1 class="alert alert-primary">News article details</h1>
<br />
<h1 class="alert alert-danger">@ViewBag.date</h1>
<br />
<h1 class="alert alert-primary">@ViewBag.page</h1>
<br />
<h1 class="alert alert-primary">@ViewBag.content</h1>
<br />

}